:root{
    --primarycolor: #00c1e1;
    --secondarycolor: #f1ec00;
    --lightcolor: #ffffff;
    --bgcolor1: #000000;
    --bgcolor2: #3c3c3c;
    --padding: 8%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Cormorant Garamond', serif;
    font-size: 16px;
    color: var(--lightcolor);
}
h1{
    font-size: 4.25rem;
    margin: 1.75rem 0;
}
h2{
    font-size: 2.2rem;
    letter-spacing: 0.12rem;
    cursor: pointer;
}
h3{
    font-size: 1.5rem;
    margin-bottom: 3.5rem;
}
h4{
    font-size: 1.25rem;
    letter-spacing: 0.12rem;
    color: var(--secondarycolor);
}
h5{
    font-size: 1.37rem;
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
}
span{
    color: var(--primarycolor);
}
p{
    color: var(--secondarycolor);
    letter-spacing: 1px;
    line-height: 1.8rem;
    font-size: 1rem;
}
.home{
    width: 100%;
    height: 100vh;
    background-color: var(--bgcolor1);
    display: flex;
    flex-direction: column;
}
nav{
    padding-top: 2.2rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;
}
nav ul li a{
    color: var(--lightcolor);
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.4s;
}
nav ul li a:hover{
    color: var(--primarycolor);
}
.btn{
    background-color: var(--primarycolor);
    color: var(--lightcolor);
    text-decoration: none;
    font-weight: bold;
    padding: 0.81rem 1.87rem;
    border-radius: 30px;
    border: 2px solid transparent;
    transition: 0.4s;
}
.btn:hover{
    background-color: transparent;
    border: 2px solid var(--primarycolor);
}
.content{
    flex-grow: 1;
    background-color:var(--bgcolor1);
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home .container-text{
    position: relative;
    bottom: 70px;
}
.social{
    margin-top: 3.5rem;
}
.social img{
    margin-right: 2rem;
    width: 2.5rem;
    transition: 0.4s;
}
.social img:hover{
    transform: scale(1.2);
}
.home .container-images{
    width: 45%;
    height: 90%;
    position: relative;
    align-self: self-end;
}
.home .container-images img{
    position: absolute;
    bottom: 0;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: 1s;
}
.home .container-images:hover .logistic{
    bottom: 40px;
}
.about{
    background-color: var(--bgcolor2);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about .container-images{
    width: 35%;
}
.about .container-images img{
    width: 90%;
}
.about .container-text{
    width: 35%;
}
.services{
    background-color: var(--bgcolor1);
    padding: 2rem var(--padding);
}
.text-center{
    text-align: center;
}
.box{
    display: flex;
    justify-content: space-between;
}
.card{
    width: 300px;
    background-color: var(--bgcolor2);
    border-radius: 20px;
    padding: 1.3rem 2rem;
    text-align: center;
}
.card i{
    font-size: 3.12rem;
    text-align: center;
    color: var(--primarycolor);
    margin: 2rem;
}
footer{
    padding: 2rem var(--padding);
    background-color: var(--bgcolor1);
}
footer .content-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer .content-footer p{
    color: var(--lightcolor);
    text-align: center;
    width: 500px;
    margin-top: 1rem;
}
footer .content-footer .end{
    color: var(--primarycolor);
    margin-top: 1rem;
}